
/*ouside css*/
.map{
  text-align: center;
}
/*from google map : https://www.google.com/maps/place/Golden+Gate+Canyon+State+Park/@39.8414296,-105.4219927,17z/data=!3m1!4b1!4m8!3m7!1s0x876bbfa961fc9d69:0x539a6b8673b1b84!5m2!4m1!1i2!8m2!3d39.8414296!4d-105.4197987*/
.googlemap{
  width: 80%;
  height: 500px;
  margin: auto;
}




/* From home page */
.body{
  margin: auto;
  width: 80%;
}

.dark{
  color: white;
  background-color: gray;
}

.myNav a {
  color: green;
  font-size: 20px;
  text-align: center;
  padding: 20px 0px;
  width: 32%;
  float: none;
  text-decoration:none;
  box-sizing: border-box;
  display: inline-block;
}

.myNav a:hover{
  color: white;
  background-color: red;
}

.myNav a:active{
  color:red;
  background-color: blue;
}
.myPic{
  background: center;
  width: 100%;
}
.intrname{
  font-size: 35px;
  text-align: center;
  font-family: "Duru Sans",Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
}

.intrname:hover{
  color: white;
  background-color: gray;
  font-size: 46px;
  padding: 10px;
}

.join:visited{
  color: grey;
}
.join:active{
  color:red;
  background-color: blue;
}
.join:hover{
  color: maroon;
  background-color: yellow;
}

.DesPic img{
  width:33%;
  height: 200px;
  border-radius:15px;
}

.button1{
  width: 150px;
  height: 30px;
  font-size: 20px;
  margin: 10px
}
.button2{
  width: 150px;
  height: 30px;
  font-size: 20px;
  margin: 10px
}

.button3{
  float: right;
  width: 150px;
  height: 30px;
  font-size: 20px;
  margin: 10px
}
